body {
    background: black;
    min-height: 800px;
    overflow: hidden; /* Hide scrollbars */  
}

h1 {
    color: white;
    position: absolute;
    top: 40%;
    left: 10%;
    right: 10%;
    font-size: 50px;
    z-index: 4;
    transition: 0.5s
}

h2 {
    color: black;
    position: absolute;
    top: 90%;
    z-index: 2;
}

.am {
    position: absolute;
    left: 10%;
    font-size: 50px;
    transition: 0.5s;
    margin: 0;
    padding: 0;
}

.am:hover {
    color: rgb(0, 174, 255);
    cursor: pointer;
}

.sk {
    position: absolute;
    left: 62%;
    transform: translate(-62%, 0%);
    font-size: 50px;
    transition: 0.5s;
    margin: 0;
    padding: 0;
}

.sk:hover {
    color: rgb(0, 174, 255);
    cursor: pointer;
}

.cm {
    position: absolute;
    left: 38%;
    transform: translate(-38%, 0%);
    font-size: 50px;
    transition: 0.5s;
    margin: 0;
    padding: 0;
}

.cm:hover {
    color: rgb(0, 174, 255);
    cursor: pointer;
}

.projects {
    right: 10%;
    font-size: 50px;
    margin: 0;
    padding: 0;
    transition: 0.5s
}

.projects:hover {
    color: rgb(0, 174, 255);
    cursor: pointer;
}






.am-wrapper {
    position: absolute;
    background: rgb(235, 235, 235);
    top: 99%;
    left: 10%;
    right: 10%;
    height: 0px;
    display: none;
    transition: 0.5s;
    font-size: 20px
}

.am-text {
    display: none;
    padding-top: 300px;
    padding-left: 40px;
    padding-right: 20px
}

.am-back {
    position: absolute;
    color: black;
    font-size: 60px;
    top: 93%;
    left: 43%;
    margin: 0;
    padding: 0;
    display: none;
    z-index: 2
}


.cm-wrapper {
    position: absolute;
    background: rgb(235, 235, 235);
    top: 99%;
    left: 10%;
    right: 10%;
    height: 0px;
    display: none;
    transition: 0.5s;
    font-size: 20px
}

#cm-content {
    position: absolute;
    top: 10%;
    left: 55%;
    transform: translate(-55%, -10%);
}

.cm-item {
    position: relative;
    z-index: 300;
}


.cm-back {
    position: absolute;
    color: black;
    font-size: 60px;
    top: 93%;
    left: 43%;
    margin: 0;
    padding: 0;
    display: none;
    z-index: 2
}

.sk-wrapper {
    position: absolute;
    background: rgb(235, 235, 235);
    top: 99%;
    left: 10%;
    right: 10%;
    height: 0px;
    display: none;
    transition: 0.5s;
    font-size: 20px
}


.sk-back {
    position: absolute;
    color: black;
    font-size: 60px;
    top: 93%;
    left: 43%;
    margin: 0;
    padding: 0;
    display: none;
    z-index: 2
}

.Kusou {
    position: absolute;
    left: 40%;
    right: 40%;
    height: 200px;
    width: 180px;
    margin: 10px;
    top: 7%;
    border-radius: 50%;
    display: none;   
}

#frontEnd-wrapper {
    position: absolute;
    top: 5%;
    left: 10%;
    transform: translate(-10%, -5%);
}

#backEnd-wrapper {
    position: absolute;
    top: 5%;
    left: 45%;
    transform: translate(-45%, -5%);
}

#Fundamentals-wrapper {
    position: absolute;
    top: 5%;
    right: 10%;
    transform: translate(-10%, -5%);
}

.sk-title {
    position: relative;
    top: 5%;
    left: 10%;
    transform: translate(-5%, -0%);
    z-index: 10;
    color: rgb(55, 131, 231);
}

.skill-item {
    display:inline-block;
    position: relative;
}

.icon {
    position: relative;
    width: 60px;
    display: inline-block;
    
}

.EX {
}



.projectPic {
    position: relative;
    /*left: 35%;
    right: 40%;
    /*height: 20%;*/
    top: 30%;
    left: 50%;
    transform: translate(-50%, -0%);
    width: 200px;
    top: 7%;
    border-radius: 5%;
    display: none;
}

.project {
    position: relative;
    height: 300px
}

.projectTitle {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -0%);
    margin: 0;
}

.pr-wrapper {
    position: absolute;
    display: flex;
    justify-content: center;
    gap: 20px;
    top: 99%;
    left: 10%;
    right: 10%;
    height: 0px;
    background: rgb(235, 235, 235);
    transition: 0.5s
}

#project1, #project2, #project3 {
    position: relative;
    top: 20px;
    padding: 50px;
    margin-top: 100px;
    width: 100px;
    height: 100px;
    background: black;
    display: none;
    color: white
}

.pr-back {
    position: absolute;
    color: black;
    font-size: 60px;
    top: 93%;
    left: 43%;
    margin: 0;
    padding: 0;
    display: none;
    z-index: 2
}








.snowball {
    position: absolute;
    display: flex;
    padding: 10px;
    margin: 0px;
    width: 10px;
    height: 10px;
    transform: translate(300px, -50px);
    background: white;
    border-radius: 50%;
    /*transition: 0.1s; */
}


.snow {
    position: absolute;
    left: 0px;
    bottom: -70px;
    width: 100%;
    height: 25%;
    background: white
}


.snow-mound {
    position: absolute;
    bottom: 7%;
    left: 50%;
    width: 40%;
    height: 15%;
    background: white;
    border-radius: 80%
}

@media screen and (max-width: 1100px) {
    .am-wrapper {
        font-size: 20px
    }

    .am-back {
        font-size: 30px
    }

    .pr-back {
        font-size: 30px
    }

    .cm-back {
        font-size: 30px
    }

    .sk-back {
        font-size: 30px
    }

    .am {
        font-size: 30px
    }

    .sk {
        font-size: 30px
    }

    .projects {
        font-size: 30px;
    }

    .cm {
        font-size: 30px
    }

    .snow-mound {
        bottom: 4%
    }

    h1 {
        font-size: 37px;
    }

    .snow {
        height: 33%;
        bottom: -130px
    }




    .sk-title {
        font-size: 20px;
    }

    .icon {
        width: 30px;
    }

    .skill-item {
        font-size: 15px;
    }

    #EX {
        font-size: 23px;
    }

    .projectPic {
        width: 130px
    }

}


@media screen and (max-width: 600px) {


    .am {
        font-size: 20px
    }

    .sk {
        font-size: 20px
    }

    .projects {
        font-size: 20px;
    }

    .cm {
        font-size: 20px
    }



    .sk-title {
        font-size: 10px;
    }

    .icon {
        width: 15px;
    }

    .skill-item {
        font-size: 8px;
    }

    #EX {
        font-size: 13px;
    }


    .cm-item {
        font-size: 20px;
    }



}








/*

div {
    position: absolute;
    height: 100px;
    width: 100px;
}

.test {
    background: white;
    height: 110px;
    z-index: 2;
}

.test2 {
    background: red;
} */